<div class="sidebar ">
  <h2>釘選頁面</h2>
  <ul>
    <li><a href="{{ '/donate' | relative_url }}">贊助</a></li>
  </ul>
</div>

<div class="sidebar ">
  <h2>最近的文章</h2>
  <ul>
    {% for post in site.posts limit:5 %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="sidebar ">
    <a class="twitter-timeline"
        href="https://twitter.com/{{site.social.twitter}}"
        data-tweet-limit="1"
        data-theme="dark"
        data-link-color="#19CF86"
        data-lang="zh-tw">
    我的推特: hollen9_tw</a>
    <br/>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="sidebar ">
  <h2>分類</h2>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ '/tag/' | append: tag[0] | url_encode | absolute_url }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{ tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div>